@import "variables";
@import "mixins";

.standard-section {
  background: $sectionColor;
  &__content {
    @include flex;
    justify-content: space-between;
  }
  &__image-column {
    width: 45%;
    @include standardDesktopPadding;
    .standard-section__image {
      width: 100%;
      @include standardFilterImage;
    }
  }
  &__text-column {
    @include flexColumn;
    @include standardDesktopPadding;
    width: 37.5%;
    margin-left: 20%;
    .standard-section__list {
      margin-top: 2rem;
      list-style: none;
      .standard-section-list__item {
        margin-bottom: 2rem;
      }
    }
    .standard-section-list-item__wrapper {
      position: relative;
      margin-left: 4rem;
    }
    .standard-section-list-item__wrapper::before {
      background: url("./../assets/svg/cloud-upload-alt-solid.svg") no-repeat;
      @include listSectionIcon;
    }
    .standard-section-list-item__paragraph,
    .standard-section-list-item__title {
      @include sectionText;
    }
    .standard-section-list-item__title {
      color: $secondTextColor;
      line-height: 1.21;
      font-weight: 600;
    }
  }
  .standard-section__title {
    @include sectionTitle;
  }
  .standard-section__text {
    @include sectionText;
    margin-top:2rem;
  }
  .standard-section__separator {
    @include sectionSeparator;
  }
}
.standard-section--secondary{
    background:$mainBackgroundColor;
    .standard-section__text-column--secondary{
        margin-left:0;
    }
    .standard-section__image-column--secondary{
        margin-left:20%;
    }
}