@import "variables";
@import "mixins";
.tabs {
  background: $mainBackgroundColor;
}
.tabs-content {
  &__rectangles {
    @include standardDesktopPadding;
    width: 10%;
    .tab-rectangle {
      @include button;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 7rem;
      margin-bottom: 2px;
      background: $secondaryBackgroundColor;
      text-transform: uppercase;
      cursor: pointer;
      &:first-child {
        background: $mainThemeColor;
        &:hover {
          transform: rotate(-30deg) scale(1.2);
          transition: all 0.5s ease-in-out;
        }
      }
      &:hover {
        transform: rotate(30deg) scale(0.8);
        transition: all 0.5s ease-in-out;
        &:last-child {
          transform: rotate(-30deg) scale(1.2) translate(300px, -300px);
          transition: all 1s ease-in-out;
        }
      }
    }
  }
  &__text {
    margin-left: 4%;
    @include standardDesktopPadding;
    width: 40%;
    .tabs-content__title {
      padding-bottom: 2rem;
    }
    & > .tabs-content__paragraph {
      padding-bottom: 1rem;
    }
    .tabs-content__button {
      @include button;
      width: 26.5%;
      margin-top: 2rem;
      padding: 1rem 0;
      background: $mainThemeColor;
      border: 1px solid $mainThemeColor;
      &:hover {
        @include buttonHover;
      }
    }
  }
  .tabs-content__image {
    margin-left: 15%;
    @include standardDesktopPadding;
  }
}
