// COLORS

$mainBackgroundColor:#f5f5f5;
$secondaryBackgroundColor:#000;
$mainThemeColor:#ff8b38;
$iconColor:#ccc;
$mainTextColor:#86878b;
$secondTextColor:#333333;
$sectionColor:#fff;
$navbarColor:rgba(255, 255, 255, 0.69);

// FONTS
$primaryFont: "Open Sans", sans-serif;
$secondaryFont:"Raleway", sans-serif;

// FONT SIZE

$logoFontSize:calc(12px + (32 - 12) * ((100vw - 300px) / (1400 - 300)));
$navFontSize:calc(12px + (14 - 12) * ((100vw - 300px) / (1400 - 300)));
