@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
  color: $mainTextColor;
}

.container {
  padding: 0 10%;
}
picture {
  display: block;
}
.header {
  &__headline {
    @include headline;
  }
  &__headline--center {
    text-align: center;
  }
  &__title {
    @include headerText;
    .header__dots {
      color: $mainThemeColor;
    }
  }
  &__title--center {
    text-align: center;
  }
  &__title--form {
    padding-bottom: 6rem;
    color: #fff;
  }
  &__text {
    padding-bottom: 1.5rem;
    font-size: $mainTextFontSize;
    @include textDisplay;
  }
  &__text--features-secondary {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 4.8125rem;
    text-align: center;
  }
}
.inner-container {
  display: flex;
  &__element {
    width: 30%;
    margin: 0 auto;
    h3 {
      padding-top: 1.5rem;
      @include elementTitle;
    }
    p {
      padding-bottom: 11.5rem;
      @include elementText;
    }
  }
  &__element--testimonials {
    div {
      margin: 6.875rem auto 0;
      width: 4.375rem;
      height: 4.375rem;
      background: #4e4e5e;
      border: 2px solid #1d1e24;
    }
    h3 {
      padding: 1rem 0 0;
      color: #fff;
    }
    h4 {
      padding-bottom: 2rem;
      color: $mainThemeColor;
      text-align: center;
    }
    p {
      padding-bottom: 5.25rem;
      font-style: italic;
      color: #fff;
    }
  }
  &__element--form {
    margin: 0 0.5rem 1.5rem;
    padding: 1rem;
    @include inputText;
    background: transparent;
    border: 1px solid $mainBackground;
    border-radius: 3px;
    opacity: 0.5;

    &::placeholder {
      @include inputText;
    }
    &:focus {
      @include inputText;
    }
  }
  &__element--footer {
    // width: 23%;
    margin: 0 1rem;
    padding: 6rem 0 2rem;
    flex-basis: 18%;

    list-style: none;
    & > li {
      @include footerText;
    }
    & > li:first-child {
      @include footerBiggerText;
      opacity: 1;
    }
    input {
      display: block;
      width: 80%;
      padding: 1rem 0 0.5rem 1rem;
      background: $mainBackground;
      @include inputText;
      color: $placeholderColor;
      border: 1px solid rgba(141, 141, 141, 0.2);
      border-right: none;
      border-radius: 3px;
      outline: none;
      &::placeholder {
        font-size: $mainTextFontSize;
        color: $placeholderColor;
        line-height: 4.69;
        letter-spacing: 0.64px;
        text-transform: uppercase;
      }
      &:focus {
        font-size: $mainTextFontSize;
      }
    }
    form {
      position: relative;
      width: 120%;
      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 80%;
        width: 49px;
        height: 100%;
        background: url("./../assets/paper-plane-regular.svg"), $mainThemeColor;
        background-repeat: no-repeat;
        background-position: center;
        border-left: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background: url("./../assets/paper-plane-regular-hover.svg"),
            $additionalBackround;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  &__element--footer:nth-child(2) {
    & > li:first-child {
      padding: 0.5rem 0 0.75rem;
      font-family: $secondaryFont;
      font-size: $footerSecondFontSize;
      color: #2c2f49;
      line-height: 1.24;
      span {
        position: relative;
        font-family: $secondaryFont;
        color: #fff;
        &::after {
          position: absolute;
          top: -9px;
          left: 0;
          content: "";
          width: 160%;
          height: 160%;
          background: $mainThemeColor;
          border: 1px solid $mainThemeColor;
          clip-path: polygon(100% 56%, 1% 0, 0 100%);
          z-index: -1;
        }
      }
    }
  }
}
.icon {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  &--jumbotron {
    display:none;
    width: 4rem;
    height: 4rem;
    margin: 0 auto 2rem;
    background: url("../assets/play-circle-solid.svg") no-repeat;
    background-size: contain;
  }
  &--jumbotron-active {
    background: url("../assets/pause-circle-solid.svg") no-repeat;
    background-size: contain;
  }
  &--features {
    display: inline;
    text-align: center;
  }
}
@media screen and (max-width: $md) {
  .header {
    &__title--form {
      padding-bottom: 2rem;
    }
  }
  .inner-container {
    &__element--testimonials {
      p {
        padding-bottom: 3rem;
      }
    }
    &__element--footer {
      width: 100%;
      padding: 2rem 0 0 0;
      text-align: center;
      form {
        width: 70%;
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .inner-container__element--footer form {
    width: 50%;
  }
}
@media screen and (max-width: $sm) {
  .header {
    &__text {
      width: 100%;
    }
  }
  .inner-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    &__element {
      width: 100%;
      p {
        padding-bottom: 3rem;
      }
    }
    &__element--testimonials {
      padding-top: 3rem;
      div {
        margin: 0 auto;
      }
      p {
        padding-bottom: 0;
      }
    }
    &__element--form {
      display: block;
      min-width: 70vw;
      width: 70%;
    }
    &__element--footer {
      margin: 0;
      form {
        min-width: 50vw;
        width: 70%;
      }
    }
  }
}
