@import "variables";
@import "mixins";

.decoration {
  width: 100%;
  margin-top: $standardTopPadding;
}
.decoration-green {
  background: $mainThemeColor;
  span {
    @include whiteBoldText;
    font-size: $bigFontSize;
    display: block;
    margin: 0 auto;
  }
  p {
    @include normalWhiteText;
    text-transform: uppercase;
    text-align: center;
  }
}
.decoration--map {
  position: relative;
  background: url("../assets/layer-59@2x.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #d9d9d9;
    opacity: 0.8;
    content: "";
  }
}
.decoration__wrapper {
  display: flex;
  justify-content: space-between;
  height: 10rem;
}
.decoration__wrapper--carousel {
  position: relative;
  height: 100%;
  align-items: center;
  img {
    width: 100%;
  }
  .decoration-image__carousel {
    clip-path: circle(50% at 50% 50%);
  }
  &:before {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: $bigFontSize;
    content: "\02c2";
    cursor: pointer;
  }
  &:after {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: $bigFontSize;
    content: "\02c3";
    cursor: pointer;
  }
}
.decoration__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 15%;
  height: 100%;
  border-right: 1px solid $mainBackgroundColor;
  &:first-child {
    border-left: 1px solid $mainBackgroundColor;
    span {
      margin-top: 1rem;
    }
  }
}
.decoration-carousel {
  padding: 5rem 0;
  background: $decorationBackground;
  span {
    padding: 2rem;
    border: 3px solid $mainThemeColor;
  }
  &__text {
    position: relative;
    align-self: end;
    padding-left: 2rem;
    @include subTitle;
    font-size: $carouselText;
    text-align: left;

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      height: 3px;
      width: $decoratorWidth;
      margin-left: 2rem;
      margin-top: 2rem;
      background: $secondaryThemeColor;
      content: "";
    }
    &:after {
      position: absolute;
      margin-top: 1rem;
      top: 105%;
      left: calc(70px + (100 - 70) * ((100vw - 300px) / (1920 - 300)));
      @include decorativeText;
      content: "John Doe";
    }
  }
}

.decoration-icons {
  background: $decorationBackground;
  img {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $md) {
  .decoration {
    margin-top: $standardTabletTopPadding;
  }
  .decoration-green {
    display: none;
  }
}

@media screen and (max-width: $sm) {
  .decoration {
    margin-top: 0;
  }
  .decoration__wrapper--carousel,
  .decoration-carousel,
  .decoration--map {
    display: none;
  }
}
