@import "variables";
@import "mixins";

.decoration {
  width: 100%;
  margin-top: $standardTopPadding;
}
.decoration-green {
  background: $mainThemeColor;
}
.decoration__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 20%;
  height: 100%;
  border-right: 1px solid $mainBackgroundColor;
  &:first-child {
    border-left: 1px solid $mainBackgroundColor;
  }
}
.decoration-element__green-number {
  @include whiteBoldText;
  display: block;
  margin: 0 auto;
  font-size: $bigFontSize;
  text-align: center;
}
.decoration-element__green-text {
  @include normalWhiteText;
  font-size: $greenTextFontSize;
  text-transform: uppercase;
  text-align: center;
}
.decoration--map {
  position: relative;
  background: url("../assets/layer-59@2x.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #d9d9d9;
    opacity: 0.8;
    content: "";
  }
}
.decoration__wrapper {
  display: flex;
  justify-content: space-between;
  height: 10rem;
}
.decoration__wrapper--carousel-first,
.decoration__wrapper--carousel-second {
  position: relative;
  height: 100%;
  align-items: center;
  .decoration-image__carousel {
    clip-path: circle(50% at 50% 50%);
  }
  .decoration-carousel__arrow {
    position: absolute;
    font-size: $bigFontSize;
    cursor: pointer;
    &--right {
      right: 10%;
    }
    &--left {
      left: 10%;
    }
  }
}

.decoration-carousel {
  padding: 5rem 0;
  background: $decorationBackground;
}
.carousel-item {
  display: none;
  justify-content: space-between;
  height: 10rem;
  .decoration-carousel__image {
    padding: 2rem;
    border: 3px solid $mainThemeColor;
  }
  .decoration-carousel__text {
    position: relative;
    align-self: end;
    padding-left: 2rem;
    @include subTitle;
    font-size: $carouselText;
    text-align: left;

    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      height: 3px;
      width: $decoratorWidth;
      margin-left: 2rem;
      margin-top: 2rem;
      background: $secondaryThemeColor;
      content: "";
    }
    &::after {
      @include carouselText;
      @include decorativeText;
    }
  }
}
.carousel-item.active {
  display: flex;
}
.carousel-item.forward {
  animation: fade;
  animation-duration: 1.5s;
}
.carousel-item.backward {
  animation: fade-backward;
  animation-duration: 1.5s;
}
.decoration__wrapper--carousel-first
  .carousel-first
  .decoration-carousel__text:after,
.decoration__wrapper--carousel-second
  .carousel-first
  .decoration-carousel__text:after {
  content: "John Doe";
}
.decoration__wrapper--carousel-first
  .carousel-second
  .decoration-carousel__text:after,
.decoration__wrapper--carousel-second
  .carousel-second
  .decoration-carousel__text:after {
  content: "Mark Jackson";
}
.decoration__wrapper--carousel-first
  .carousel-third
  .decoration-carousel__text:after,
.decoration__wrapper--carousel-second
  .carousel-third
  .decoration-carousel__text:after {
  content: "Jules Verne";
}

@keyframes fade {
  from {
    opacity: 0.2;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-backward {
  from {
    opacity: 0.2;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.decoration-icons {
  background: $decorationBackground;
  img {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $md) {
  .decoration {
    margin-top: $standardTabletTopPadding;
  }
  .decoration-green {
    display: none;
  }
}

@media screen and (max-width: $sm) {
  .decoration {
    margin-top: 0;
  }
  .decoration__wrapper--carousel,
  .decoration-carousel,
  .decoration--map {
    display: none;
  }
}
