@import "variables";
@import "mixins";

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: #d9d9d9;
    opacity: 0.8;
  }
}
.design__image {
  position: absolute;
  display: block;
  bottom: 0;
  left: 39%;
  width: 23%;
  z-index: 30;
  &--mobile {
    width: 12%;
    left: 55.5%;
    bottom: -11%;
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .design {
    &:hover:after {
      padding-top: 0;
    }
  }
}
@media screen and( max-width: $sm) {
  .design {
    display: none;
  }
}
