@import "variables";
@import "mixins";

.footer {
  background: $decorationBackground;
}
.footer__container {
  position: relative;
  display: flex;
  padding-top: $standardTopPadding;
  padding-bottom: 4.3125rem;
}
.footer__logo {
  @include footerLogo;
}
.footer__element {
  flex-basis: 33%;
  margin-right: 2rem;
  &--first {
    flex-basis: 40%;
  }
  &--second {
    flex-basis: 40%;
  }
  &--third {
    margin-right: 0;
  }
}
.footer__title-section {
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  @include titleText;
  font-weight: bold;
  text-align: left;
}
.footer__text {
  padding: 1.25rem 0;
  @include normalText;
  text-align: left;
}
.footer__followers {
  position: relative;
  padding-bottom: 1.25rem;
  font-size: $textFontSize;
  color: $secondaryTextColor;
  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    content: "";
  }
}
.footer-followers__amount {
  display: inline-block;
  @include followersAmount;
}

.footer-social {
  display: flex;
  padding-top: 0.5rem;
  @include subTitle;
  &__text,
  &__icon {
    padding-right: 0.5rem;
  }
}
.footer__form {
  display: flex;
  margin-top: 2rem;
}
.footer-form__input {
  width: 50%;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #e7e7e7;
  @include subTitle;
  text-align: left;
  &::placeholder {
    @include subTitle;
    text-align: left;
  }
  &:focus {
    outline: 1px solid $mainThemeColor;
  }
}
.footer-form__button {
  height: 2.5rem;
  padding: 0 1rem;
  background: $mainThemeColor;
  @include normalWhiteText;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:hover {
    background: darken($mainThemeColor, 20%);
    font-weight: bold;
  }
}
.footer__blog {
  display: flex;
  margin-top: 1.75rem;
}
.footer-blog__image {
  display: block;
  height: 100%;
  margin-right: 1rem;
}
.footer-blog__title {
  @include footerBlogTitle;
  &--link {
    text-decoration: none;
  }
}
.footer-blog__date {
  padding-top: 0.5rem;
  @include footerBlogDate;
}

.footer__separator {
  position: absolute;
  bottom: 0;
  display: block;
  width: 64%;
  height: 1px;
  background: #e5e5e5;
}
.footer__pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  margin-top: 1.75rem;
  .footer-picture {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}
.footer__footnote {
  text-align: center;
  padding: 1rem;
}
.footer-footnote__text {
  font-family: $secondaryFont;
  font-weight: bold;
  color: $secondaryTextColor;
}
.footer-footnote__indicator {
  color: $secondaryThemeColor;
}
@media screen and (max-width: $md) {
  .footer__container {
    display: block;
  }
  .footer__element {
    margin-right: 0;
    text-align: center;
  }
  .footer-social {
    justify-content: center;
  }
  .footer__form {
    width: 100%;
    margin: 2rem 0 0 5rem;
  }
  .footer__title-section {
    text-align: center;
  }
  .footer__blog {
    display: block;
    .footer-blog__image {
      margin: 0 auto 1rem;
    }
  }
  .footer__pictures {
    span {
      display: block;
      width: 100%;
    }
  }
  .footer__element--third {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $sm) {
  .footer__container {
    padding-top: 3rem;
  }
  .footer__form {
    margin: 2rem 0 0 0;
    width: 100%;
  }
  .footer-form__input {
    width: 70%;
  }
}
