@import "variables";
@import "mixins";

.gallery {
  width: 100%;
  padding-top: $standardTopPadding;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gallery__element {
  position: relative;
  display: flex;
  cursor:pointer;
  &--big {
    grid-row: span 2;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover div {
    background: $gradient;
    visibility: visible;
  }
}
.gallery__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  visibility: hidden;
  h3 {
    @include normalWhiteText;
    padding-top:.5rem;
    text-transform:uppercase;
  }
  p {
    @include normalText;
    padding-top:1rem;
    color:$mainBackgroundColor;
    font-style:italic;
  }
}
@media screen and (max-width: $md) {
  .gallery {
    padding-top: $standardTabletTopPadding;
  }
}
@media screen and (max-width: $sm) {
  .gallery {
    padding-top: $standardMobileTopPadding;
  }
  .gallery__element:hover div{
      visibility:initial;
      background:none;
  }
  .gallery__hover{
      display:none;
  }
}
