@import "variables";
@import "mixins";

.standard__wrapper {
  display: flex;
  padding-top: $standardTopPadding;
}
.standard__element {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}
.standard__image {
  position: relative;
  cursor: pointer;
  &:hover {
    transform: translate(-10px, -10px);
    transition: all 0.5s;
    box-shadow: 10px 10px 0 0 $mainThemeColor;
  }
  img {
    display: block;
    width: 100%;
  }
  &--blog {
    height: 10rem;
    picture {
      display: block;
      height: 100%;
    }
    img {
      height: 100%;
    }
  }
}

.standard__hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .hover-image {
    display: none;
  }
  &:hover {
    background: $gradient;
    &::after {
      position: absolute;
      padding-top: 4rem;
      @include whiteBoldText;
      font-size: $textFontSize;
      text-transform: uppercase;
      text-align: center;
      content: "super team";
    }
    .hover-image {
      display: block;
      width: 100%;
    }
  }
}
.standard__hover--team {
  .standard-hover-icon {
    display: none;
  }
}
.standard__hover--team:hover {
  .standard-hover-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include standardHoverIcon;
    &:first-child {
      background: $secondaryThemeColor;
    }
  }
  img {
    margin: 0 auto;
    width: initial;
  }
  &::after {
    content: "";
  }
}
.standard__title {
  @include titleText;
  margin-top: 1.5rem;
  &--link {
    text-decoration: none;
  }
}
.standard__subtitle {
  @include subTitle;
}
.standard__wrapper--blog {
  height: fit-content;
  .standard__image {
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
  .standard__element {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
  }
}

.standard__wrapper--blog {
  .standard__element {
    position: relative;
  }
  .standard__title {
    text-align: left;
  }
  .standard__subtitle {
    margin-top: 0.5rem;
    text-align: left;
    font-style: normal;
  }
}
.standard__date {
  position: absolute;
  bottom: 68%;
  left: -6%;
  width: 3.75rem;
  background: $mainThemeColor;

  .standard-date__element {
    display: block;
    margin: 0 auto;
    color: $mainBackgroundColor;
    text-align: center;
    &--day {
      font-family: $secondaryFont;
      font-size: $titleFontSize;
      font-weight: bold;
    }
    &--month {
      font-style: italic;
      font-size: $textFontSize;
    }
  }
}
.standard__social {
  position: relative;
  margin-top: 1rem;
  font-size: $textFontSize;
  .standard-social__element {
    margin-top: 0.5rem;
    display: inline-block;
    position: relative;
    padding-left: 1.5rem;
  }
  .standard-social__element--visits {
    padding-right: 0.5rem;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 9%;
      left: 0;
      content: "";
      background: url("../assets/blog-view.png") no-repeat;
    }
  }
  .standard-social__element--comments {
    position: relative;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 9%;
      left: 0;
      content: "";
      background: url("../assets/blog-comment.png") no-repeat;
    }
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    content: "";
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .standard__wrapper {
    padding-top: $standardTabletTopPadding;
  }
  .standard__hover {
    &:hover {
      &:after {
        padding-top: 25%;
      }
    }
  }
  .standard__wrapper--blog {
    display: block;
    width: 70%;
    margin: 0 auto;
    .standard__subtitle {
      height: auto;
    }
    .standard__element {
      margin: 0 auto 3rem;
      height: 24rem;
      &:first-child {
        margin-bottom: 0;
      }
    }
    .standard__date {
      top: 29%;
      bottom: initial;
      left: -3%;
      z-index: 30;
    }
  }
}
@media screen and (max-width: $sm) {
  .standard__wrapper {
    display: block;
    padding-top: $standardMobileTopPadding;
  }
  .standard__element {
    margin: 0 auto 1rem;
  }
  .standard__hover:hover {
    &::after {
      padding-top: 3rem;
    }
  }
  .standard__wrapper--team {
    width: 60%;
    margin: 0 auto;
  }
  .standard__wrapper--blog {
    display: block;
    .standard__subtitle {
      height: auto;
    }
    .standard__element {
      height: 24rem;
      &:first-child {
        height: 20rem;
        margin-bottom: 0;
      }

      .standard__date {
        top: 29%;
        bottom: initial;
        left: -3%;
        z-index: 30;
      }
    }
  }
}
